div {
  display: table;
  margin: auto;
  width: 0;
  font-family: "Courier New";
}

div ol {
  list-style-position: inside; 
}

li a {
	color: black;
	text-decoration: none;
}

a {
	color: black;
	text-decoration: none;
}

	a:hover {
		font-style: italic;
	}
